@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    background-color: #CAC4CE;
}
h1, p {
    text-align: center;
    color: #242038;
    font-family: 'Righteous', cursive;
    overflow-wrap: anywhere;
}
.container {
    background-color: #8D86C9;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    position: relative; 
    width: autofill;
    height: autofill;
    -webkit-box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.44); 
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.44);
    overflow-wrap: anywhere;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.navbar {
  position: fixed;
  width: 99%;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: #242038;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #4D2D76;
  color: #242038;
}